type project
title
    FsSqlDom
owners
    Isak Sky
authors 
    Isak Sky
projectUrl
    https://github.com/isaksky/FsSqlDom/isaksky/FsSqlDom
iconUrl
    https://raw.githubusercontent.com/isaksky/FsSqlDom/master/docs/files/img/logo.png
licenseUrl
    https://github.com/isaksky/FsSqlDom/isaksky/FsSqlDom/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    sql fsharp
summary
    F# helper for SQL parsing
description
    F# helper for SQL parsing


